* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1440px;
}
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --light: #ffffff;
  --gray: hsl(0, 0%, 84%);
  --gray-voilet: hsl(260, 4%, 48%);
  --dark-blue: hsl(255, 9%, 34%);
  --darker: hsl(260, 8%, 14%);
}
.nav-menu {
  padding: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.menu {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  color: var(--gray-voilet);
}
.right {
  display: flex;
  align-items: center;
}
button {
  padding: 10px 20px;
  background-color: var(--cyan);
  color: var(--light);
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
}

.login {
  text-decoration: none;
  color: var(--gray-voilet);
  margin-right: 20px;
}

.tools img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}

.hero {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.hero-right h1 {
  font-size: 80px;
  font-weight: 700;
}
.hero-right p {
  font-size: 27px;
  width: 46rem;
  color: var(--gray-voilet);
  margin-bottom: 2rem;
}
.input-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--dark-violet);
  background-image: url("/images/bg-shorten-desktop.svg");
  background-position: right;
  background-repeat: no-repeat;
}
input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 50rem;
  font-size: 1rem;
  font-weight: 500;
}
.link-btn {
  border-radius: 5px;
  margin-left: 2rem;
  padding: 12px;
}
.stats {
  background-color: var(--gray);
  height: 40rem;
}
.stats-head {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 1.5rem;
  font-weight: 700;
}
.sub-head {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-voilet);
}
.cards-gp {
  display: flex;
  margin-top: 5rem;
  gap: 16px;
  justify-content: center;
}
.card {
  width: 25rem;
  background-color: var(--light);
  padding: 3.5rem;
  position: relative;
}
.card-title {
  font-size: 20px;
  font-weight: 700;
}
.card-content {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-voilet);
}
.card-img {
  background-color: var(--dark-violet);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  top: -2.5rem;
  display: inline-block;
  position: absolute;
}
.card-img img {
  transform: translate(42%, 45%);
  position: absolute;
  top: 0;
}
.cls-1 {
  transform: translateY(30%);
}
.cls-2 {
  transform: translateY(50%);
}
.boost {
  height: 10rem;
  padding: 1rem;
  background-color: var(--dark-violet);
  background-image: url("/images/bg-shorten-desktop.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.gs-btn {
  display: flex;
  margin: 0 auto;
}
.list-head {
  font-weight: 700;
}
.footer {
  background-color: var(--darker);
  color: var(--light);
  width: 100%;
}
.footer-container {
  margin: 0 auto;
  width: 1144px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  margin-bottom: 1.5rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: 10rem;
  justify-content: space-between;
}
.footer-links ul {
  list-style: none;
  display: block;
}
.footer-links ul li {
  margin-bottom: 16px;
}
.footer-links ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
}
.social-links {
  color: var(--dark-violet);
  margin: 0 5rem;
  display: flex;
  gap: 2rem;
}
.social-links img {
  width: 2rem;
  height: 2rem;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}
.result .items {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #eaeaea;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.newUrl-btn {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  text-align: center;
  background: var(--cyan);
  cursor: pointer;
  outline: none;
  border: none;
}
.myclass {
  color: red;
  background-color: lime;
}

@media only screen and (max-width: 576px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .navbar {
    display: none;
  }
  .site-wrapper {
    width: 90vw;
    margin: 0 auto;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .hero-left img {
    width: 90vw;
  }
  .hero-right h1 {
    font-size: 20px;
  }
  .hero-right p {
    font-size: 15px;
    width: 80vw;
    text-align: center;
    margin-bottom: 1rem;
  }
  .link-btn {
    margin: 1rem 0;
    width: 80vw;
  }
  button {
    display: flex;
    margin: 0 auto;
  }
  .input-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin-top: 1rem;
  }
  input {
    width: 80vw;
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
  }
  .cards-gp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    gap: 50px;
  }
  .card {
    width: 18rem;
    padding: 1.5rem;
  }
  .cls-1 {
    transform: none;
  }
  .card-img {
    width: 3rem;
    height: 3rem;
    top: -1.5rem;
  }
  .card-img img {
    width: 2rem;
    transform: translate(22%, 22%);
  }
  .stats-head {
    padding-top: 0.5rem;
    font-size: 20px;
  }
  .cls-2 {
    transform: none;
  }
  .boost {
    margin-bottom: 2rem;
  }
  .gs-btn {
    margin: 10px auto;
  }
  .newUrl-btn {
    padding: 1rem;
  }
  .footer-container {
    width: 80vw;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin: 0 auto;
  }

  .social-links {
    margin: 2rem auto;
  }
}
